::-moz-selection {
	color: white;
	background: blue;
}

#show,#content{display:none;}
#show:checked~#content{display:block;}


::selection {
	color: white;
	background: blue;
}

@font-face {
	font-family: TheEnd;
	src: url("fonts/theend.ttf");
}

html {
	position: relative;
	min-height: 100%;
}

body {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.25em;
	margin: 0;
	padding: 0;
	height: 100%;
	background-repeat:repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #000;
	text-shadow: 1px 2px 4px #000, -1px -2px 4px #000;
	color: #FFF;
	background-image: url("images/img01.png");
}

.container hr {
	margin: 20px;
}

.content hr {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: -20px;
	margin-left: -20px;
	clear:both;
}

h1 { 
	margin-top: 0px; 
}

mark {
	text-shadow: none;
}

img {
	-webkit-filter: drop-shadow(0px 0px 5px #000);
	filter: drop-shadow(0px 0px 5px #000);
}

a, a:visited {
	color: #AD746D;
	text-decoration: none;
}

a:hover, a:active, a:focus {
	color: #CC8982;
	text-decoration: none;
}

a img {
	border: none;
}

ul, ol, dl {
	margin-left: 25px;
	margin-right: 25px;
}

table {
	display: block;
	margin-left: 26px;
	margin-right: 26px;	
}

th, td {
	margin: 0px;
	padding: 0px;
}

table.columns h2, table.columns p
{
	padding: 0;
}

table.columns img.tilescrn
{
	width: 90%;
}

table.npcs
{
	table-layout: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url("images/splat_npc.png");
}

table.npcs h2, table.npcs p
{
	margin: 0;
	padding: 0;
}

table.npcs img
{
	width: 70%;
}

table.npcsounds
{
	margin-left: 0;
	margin-right: 0;
}

ul.nav {
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	list-style-type: none;
	text-align: center;
	overflow: hidden;
}

ul.nav li {
	display: inline;
	font-size: 1.1em;
	-webkit-filter: drop-shadow(0px 0px 5px #000);
	filter: drop-shadow(0px 0px 5px #000);
}

ul.nav li a, ul.nav li a:visited
{
	display: inline-block;
	padding: 8px 16px 8px 16px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	color: #AD746D;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url("images/splat_button.png");
}

ul.nav li a:hover, ul.nav li a:active, ul.nav li a:focus
{
	color: #CC8982;
}

img.screenshot
{
	width: 35%;
	height: 35%;
}

img.screenshot_l
{
	width: 50%;
	height: 50%;
}

img.fitimg
{
	max-width: 90%;
}

.container
{
	position: relative;
	margin: 0 auto;
	width: 80%;
	max-width: 1200px;
	min-height: 100%;
}

.contentback
{
	position: fixed;
	margin: 0 auto;
	width: 80%;
	max-width: 1200px;
	height: 100%;
	overflow: hidden;
	background: #333;
	background: rgba(0, 0, 0, 0.7);
	z-index: -1;
}

.header
{
	display: block;
	height: auto;
	text-align: center;
}

.title
{
	width: 40%;
	height: 40%;
	-webkit-filter: drop-shadow(0px 0px 5px #000);
	filter: drop-shadow(0px 0px 5px #000);
}

.heading
{
	padding-top: 32px;
	padding-bottom: 32px;
	margin-bottom: 0;
	font-size: 3em;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url("images/splat_greeting.png");
	font-family: TheEnd, sans-serif;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content
{
	float: left;
	padding-top: 10px;
	padding-bottom: 24px;
	padding-left: 75px;
	padding-right: 75px;
	width: 100%;
}

.greeting
{
	display: table-cell;
	position: relative;
	margin: 0 auto;
	width: 960px;
	height: 360px;
	text-align: center;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url("images/splat_greeting.png");
	-webkit-filter: drop-shadow(0px 0px 5px #000);
	filter: drop-shadow(0px 0px 5px #000);
}

.enter
{
	text-align: center;
	padding-bottom: 16px;
}

.enter a img, .enter a:visited img
{
    display: inline-block;
    text-align: center;
    margin: 0 auto;
	-webkit-filter: drop-shadow(0px 0px 5px #000);
	filter: drop-shadow(0px 0px 5px #000);
}

.enter a:hover img, .enter a:active img, .enter a:focus img
{
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url("images/splat_enter.png");
}

.variable
{
	font-family: "Courier New", "Courier", monospace;
	font-size: 0.8em;
	font-weight: bold;
}

.contents
{
	margin-bottom: 24px;
}

.contents h1, .contents h3, .credits h2, .downloads h2, .downloads h3, .downloads p
{
	margin-bottom: 0px;
}

.contents p, .credits p, .downloads p, .downloads h3
{
	margin-top: 0px;
}

.credits p, .downloads p
{
	color: #CCC;
}

.code
{
	display: block;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 20px;
	padding-top: 24px;
	padding-bottom: 24px;
	font-family: "Courier New", "Courier", monospace;
	font-size: 0.6em;
	background: #333;
	background: rgba(0, 0, 0, 0.5);
}

.code p
{
	margin-bottom: 0;
}

.outlinewhite
{
	border: 3px solid #FFF;
}

.outlineblack
{
	border: 3px solid #000;
}

.indev
{
	/* display: none; */
}

.indev h3
{
	color: yellow;
}

.center
{
	text-align: center;
	padding-bottom: 16px;
}

.center img
{
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

#randoicon
{
	float: left;
	height: auto;
	max-width: 150px;
	margin-right: 20px;
	margin-bottom: 30px;
	vertical-align: center;
}

/* Slideshow stuff below */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
	min-height: 250px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}