body {
/*    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    width:  100vw;
    height: 100vh;*/
    font-family: sans-serif;
    color: white;
}


:root {
  --main-color-light:  #f7f3e6;
  --main-color-medium: #e3614d;
  --main-color-dark:   #613a43;
  --main-color-accent: #849974;
  --main-color-text:   #36384c;
}

.dotted-bg {
	background-image: radial-gradient(rgba(0,0,0,0.5) 1px, transparent 0);
	background-size: 4px 4px;
}


.page-container {
    position: relative;
    width: 768px;
    height: 1024px;
    margin: auto;
    box-sizing: border-box;
    z-index: -100;
    
    padding: 32px;
    
    border-style: solid;
    border-color: black;
    border-size: 1px;
    
	background-color: var(--main-color-light);
	color: var(--main-color-text);
}

.page-container p {
    font-size: 0.75em;
}

.main-header {
    position: relative;
    box-sizing: border-box;
    color:  var(--main-color-light);
    
    height: fit-content;
    width: 100%;
    
    margin: auto;
    padding-top: 20px;
    
    h1 {
        position: relative;
        background-color: var(--main-color-medium);
        transform: skew(-15deg, 0deg);
        padding: 5px 20px 5px 20px;
        margin: 0;
        text-wrap: nowrap;
        font-size: 2.5em;
        z-index: 1;
        width: fit-content;
        margin: auto;
    }
    
    hr {
        position: absolute;
        width: 100%;
        color: black;
        background-color: black;
        border: none;
        margin: 0;
    }

    hr.top {
        top: 1.7em;
        height: 5px;
    }
    
    hr.bottom {
        top: 2.4em;
        height: 1px;
    }
}

hr.separator {
    background-color: var(--main-color-medium);
    height: 3px;
    border: none;
}

div.article {
    box-sizing: border-box;
    
    text-align: justify;
    text-justify: inter-word;
}
/*
.article p {
    column-count: 2;
}
*/

.article span.big-letter {
    position: relative;
    font-size: 5em;
    height: 0.65em;
    width: 0.65em;
    float: left;
    color: var(--main-color-medium);
    margin-right: 0.1em;
    transform: skew(-10deg, 0);
    
    span {
        position:absolute;
        right:0;
        bottom:-0.2em;
        font-weight: bold;
        width: fit-content;
        margin: 0;
        padding: 0;
    }
}


/* Flex container */
.image-flex-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .item {
        padding: 0px;
        margin:  0px;
        flex: 1 1 100px; /* Grow, shrink, base width */
        
        p {
            padding: 1em;
            border-right: solid 2px black;
            text-align: justify;
            text-justify: inter-word;
        }
    }
    
    .label {
        background-color: black;
        color: var(--main-color-light);
        text-align: center;
        transform: skew(-15deg, 0);
        padding: 0.2em;
        margin-left:  0.25em;
        margin-right: 0.25em;
        margin-top: 10px;
    }
    
    div.img-container {
        border: solid 1px black;
        padding: 1em;
        
        margin-left:  0.25em;
        margin-right: 0.25em;
        
    /*    min-height: 150px;*/
        aspect-ratio: 1;
    
        flex: 1 1 100px; /* Grow, shrink, base width */
    /*
      width: 100%;
      max-width: 500px;
      
      height: auto;
      max-height: 200px;*/
    
    /*  width: auto;*/
    /*  max-width: 100%;*/
    /*  height: 200px;*/
    /*  max-height: 100%;*/
      
    /*  display: block;
      border-radius: 8px;
      margin: auto;
      display: block;
      object-fit: contain;
      transition: transform 0.3s ease;*/
    }
}

/*.image-grid-item div.img-container:hover {
  transform: scale(1.05);
}*/


.section-header {
    position: relative;
    box-sizing: border-box;
    color:  var(--main-color-light);
    
    height: fit-content;
    width: 100%;
    
    margin: auto;
    
    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
        background-color: var(--main-color-light);
        color: var(--main-color-medium);
        padding: 5px 20px 5px 20px;
        margin: auto;
        text-wrap: nowrap;
        text-align: center;
        width: fit-content;
        padding: 0.5em;
    }
    
    hr {
        position: absolute;
        width: 704px;
        color: var(--main-color-text);
        background-color: var(--main-color-text);
        border: none;
        margin: 0;
        z-index: -1;
        
        top: 50%;
        height: 0.1em;
    }
}
