<?? HEADER export_name = "image_grid" ?>
<?? PARAMETERS image_paths: [] string ?>
<?? THREAD_LOCALS
    times_called := 0;
?>

<!-- TODO: add parameter for desired maximum image width -->

<div class="image-flex-grid">
    <? for image_paths { ?>
      <div class="image-grid-item"><img src="{{it}}"></div>
    <? } ?>
</div>
